# M02 Importing Persuasion as OHCO

DS 5001 Text as Data

## Purpose

We import a text as an **OHCO** using the  **Clip, Chunk, and Split pattern**.

We demonstrate how to tokenize a raw text and map an OHCO onto the resulting dataframe of tokens.

This goes beyond what we did last week in the _First Foray_ notebook. We capture the chapter, paragraph, and sentence structure of the text.

## Set Up

## Import libraries

In [1]:
import pandas as pd

### Import Config

In [2]:
data_home = "../input"
output_dir = "../working"

In [3]:
data_home, output_dir

('../input', '../working')

### Parameters

In [4]:
pg_id = 105
pg_title = "austen-persuasion"

In [5]:
text_file = f"{data_home}/gutenberg/pg{pg_id}.txt"
csv_file  = f"{output_dir}/{pg_title}.csv" # The file we will create

In [6]:
OHCO = ['chap_num', 'para_num', 'sent_num', 'token_num']

## Import file into a dataframe

In [7]:
LINES = pd.DataFrame(open(text_file, 'r', encoding='utf-8-sig').readlines(), columns=['line_str'])
LINES.index.name = 'line_num'
LINES.line_str = LINES.line_str.str.replace(r'\n+', ' ', regex=True).str.strip()

In [8]:
LINES.sample(20)

                                                   line_str
line_num
2796                         perfectly knew the meaning of.
6637      birth.  All his caution was spent in being sec...
3194      a bewitching charm in a degree of hospitality ...
69        Precisely such had the paragraph originally st...
8370
2608      relief, the manner, the silence in which it ha...
8094      and feel all the horrible eligibilities and pr...
8173      otherwise, I should have suffered more in cont...
68
1164      assure you, I have not seen a soul this whole ...
1669                     could feel secure even for a week.
726
8091
343       never seemed considered by the others as havin...
8502      work or any other work associated with Project...
3562      Anne found Captain Benwick again drawing near ...
2815      making their way back along the rough, wild so...
7413      and I am sure neither Henrietta nor I should c...
2546      "I thought the Miss Musgroves had been here: M...
6483

## Extract Title

In [9]:
title = LINES.loc[0].line_str.replace('The Project Gutenberg EBook of ', '')

In [10]:
print(title)

Persuasion, by Jane Austen

## Clip the Cruft

In [11]:
clip_pats = [
    r"\*\*\*\s*START OF (?:THE|THIS) PROJECT",
    r"\*\*\*\s*END OF (?:THE|THIS) PROJECT"
]

In [12]:
pat_a = LINES.line_str.str.match(clip_pats[0])
pat_b = LINES.line_str.str.match(clip_pats[1])

In [13]:
line_a = LINES.loc[pat_a].index[0] + 1
line_b = LINES.loc[pat_b].index[0] - 1

In [14]:
line_a, line_b

(np.int64(19), np.int64(8372))

In [15]:
LINES = LINES.loc[line_a : line_b]

In [16]:
LINES.head(10)

                                                   line_str
line_num
19
20
21
22
23        Produced by Sharon Partridge and Martin Ward. ...
24                                            by Al Haines.
25
26
27
28

In [17]:
LINES.tail(10)

                                                   line_str
line_num
8363
8364
8365
8366
8367
8368
8369
8370
8371      End of the Project Gutenberg EBook of Persuasi...
8372

## Chunk by Chapter

### Find all chapter headers

The regex will depend on the source text. You need to investigate the source text to figure this out.

In [18]:
chap_pat = r"^\s*(?:chapter|letter)\s+\d+"

In [19]:
chap_lines = LINES.line_str.str.match(chap_pat, case=False) # Returns a truth vector

In [20]:
LINES.loc[chap_lines] # Use as filter for dataframe

            line_str
line_num
47         Chapter 1
306        Chapter 2
500        Chapter 3
786        Chapter 4
959        Chapter 5
1297       Chapter 6
1657       Chapter 7
1992       Chapter 8
2346       Chapter 9
2632      Chapter 10
3020      Chapter 11
3314      Chapter 12
3876      Chapter 13
4150      Chapter 14
4409      Chapter 15
4677      Chapter 16
4912      Chapter 17
5248      Chapter 18
5654      Chapter 19
5905      Chapter 20
6265      Chapter 21
6970      Chapter 22
7555      Chapter 23
8208      Chapter 24

### Assign numbers to chapters

In [21]:
LINES.loc[chap_lines, 'chap_num'] = [i+1 for i in range(LINES.loc[chap_lines].shape[0])]

In [22]:
LINES.loc[chap_lines]

            line_str  chap_num
line_num
47         Chapter 1       1.0
306        Chapter 2       2.0
500        Chapter 3       3.0
786        Chapter 4       4.0
959        Chapter 5       5.0
1297       Chapter 6       6.0
1657       Chapter 7       7.0
1992       Chapter 8       8.0
2346       Chapter 9       9.0
2632      Chapter 10      10.0
3020      Chapter 11      11.0
3314      Chapter 12      12.0
3876      Chapter 13      13.0
4150      Chapter 14      14.0
4409      Chapter 15      15.0
4677      Chapter 16      16.0
4912      Chapter 17      17.0
5248      Chapter 18      18.0
5654      Chapter 19      19.0
5905      Chapter 20      20.0
6265      Chapter 21      21.0
6970      Chapter 22      22.0
7555      Chapter 23      23.0
8208      Chapter 24      24.0

Notice that all lines that are not chapter headers have no chapter number assigned to them.

In [23]:
LINES.sample(10)

                                                   line_str  chap_num
line_num
2799      returned; and Mary, finding a comfortable seat...       NaN
8159                                                              NaN
375       in persuading them to a complete, than to half...       NaN
1070      have thought that he, who has kept himself sin...       NaN
6540                         in a calmer manner, she added,       NaN
7184      liberal father to me.  Mary does not above hal...       NaN
8363                                                              NaN
6780      that she is a clever, insinuating, handsome wo...       NaN
7704      which has done the business for Captain Benwick."       NaN
2261      begin to attack me with,--'Oh! you will think ...       NaN

### Forward-fill chapter numbers to following text lines

`ffill()` will replace null values with the previous non-null value.

In [24]:
LINES.chap_num = LINES.chap_num.ffill()

In [25]:
LINES.sample(10)

                                                   line_str  chap_num
line_num
6332                                                             21.0
1094      doing good.  Elizabeth, though resenting the s...       5.0
4621      at Lyme, his countenance improved by speaking,...      15.0
6126      acquaintance with your character than you are ...      20.0
3383      gentleman, at the same moment preparing to com...      12.0
3187      entreaties for their all promising to dine wit...      11.0
1148                                              morning!"       5.0
5454      evident that no rumour of the news had yet rea...      18.0
3504                    out of doors as long as they could.      12.0
3422      civilities of the household, and taking his se...      12.0

Notice that the lines taht precede our first chapter have no chapters, which is what we want. We need to decide whether to keep these lines as textual front matter or to dispose of them.

In [26]:
LINES.head(20)

                                                   line_str  chap_num
line_num
19                                                                NaN
20                                                                NaN
21                                                                NaN
22                                                                NaN
23        Produced by Sharon Partridge and Martin Ward. ...       NaN
24                                            by Al Haines.       NaN
25                                                                NaN
26                                                                NaN
27                                                                NaN
28                                                                NaN
29                                                                NaN
30                                                                NaN
31                                                                NaN
32                                                                NaN
33                                                                NaN
34                                                                NaN
35                                               Persuasion       NaN
36                                                                NaN
37                                                                NaN
38                                                       by       NaN

### Clean up

In [27]:
LINES = LINES.dropna(subset=['chap_num']) # Remove everything before Chapter 1
# LINES = LINES.loc[~LINES.chap_num.isna()] # Remove everything before Chapter 1 (alternate method)
LINES = LINES.loc[~chap_lines] # Remove chapter heading lines; their work is done
LINES.chap_num = LINES.chap_num.astype('int') # Convert chap_num from float to int

In [28]:
LINES.sample(10)

                                                   line_str  chap_num
line_num
468       unprosperous marriage, to her father's house, ...         2
2899      back with her to their former station, by the ...        10
4747      but it had been no unhappiness to sour his min...        16
4370      of streets from the Old Bridge to Camden Place...        14
6230      short, must confess that he should not be sorr...        20
2707      upon the tawny leaves, and withered hedges, an...        10
6354      me, when you must have so many pleasanter dema...        21
7894      But the chair would never do.  Worse than all!...        23
4816      relationship as closed.  How to have this anxi...        16
1191      yourself!  You wrote in the cheerfullest manne...         5

### Group lines into chapters

In [29]:
OHCO[:1]

['chap_num']

In [30]:
# Make big string for each chapter
CHAPS = LINES.groupby(OHCO[:1])\
    .line_str.apply(lambda x: '\n'.join(x))\
    .to_frame('chap_str')

In [31]:
CHAPS.head(10)

                                                   chap_str
chap_num
1         \n\nSir Walter Elliot, of Kellynch Hall, in So...
2         \n\nMr Shepherd, a civil, cautious lawyer, who...
3         \n\n"I must take leave to observe, Sir Walter,...
4         \n\nHe was not Mr Wentworth, the former curate...
5         \n\nOn the morning appointed for Admiral and M...
6         \n\nAnne had not wanted this visit to Uppercro...
7         \n\nA very few days more, and Captain Wentwort...
8         \n\nFrom this time Captain Wentworth and Anne ...
9         \n\nCaptain Wentworth was come to Kellynch as ...
10        \n\nOther opportunities of making her observat...

In [32]:
CHAPS['chap_str'] = CHAPS.chap_str.str.strip()

In [33]:
CHAPS

                                                   chap_str
chap_num
1         Sir Walter Elliot, of Kellynch Hall, in Somers...
2         Mr Shepherd, a civil, cautious lawyer, who, wh...
3         "I must take leave to observe, Sir Walter," sa...
4         He was not Mr Wentworth, the former curate of ...
5         On the morning appointed for Admiral and Mrs C...
6         Anne had not wanted this visit to Uppercross, ...
7         A very few days more, and Captain Wentworth wa...
8         From this time Captain Wentworth and Anne Elli...
9         Captain Wentworth was come to Kellynch as to a...
10        Other opportunities of making her observations...
11        The time now approached for Lady Russell's ret...
12        Anne and Henrietta, finding themselves the ear...
13        The remainder of Anne's time at Uppercross, co...
14        Though Charles and Mary had remained at Lyme m...
15        Sir Walter had taken a very good house in Camd...
16        There was one point which Anne, on returning t...
17        While Sir Walter and Elizabeth were assiduousl...
18        It was the beginning of February; and Anne, ha...
19        While Admiral Croft was taking this walk with ...
20        Sir Walter, his two daughters, and Mrs Clay, w...
21        Anne recollected with pleasure the next mornin...
22        Anne went home to think over all that she had ...
23        One day only had passed since Anne's conversat...
24        Who can be in doubt of what followed?  When an...

So, now we have our text grouped by chapters.

In [34]:
CHAPS.to_csv(f"{output_dir}/pg105-CHAPS.csv", index=True)

## Split chapters into paragraphs 

We use Pandas' convenient `.split()` method with `expand=True`, followed by `.stack()`.
Note that this creates zero-based indexes.

In [35]:
para_pat = r'\n\n+'

In [36]:
# CHAPS['chap_str'].str.split(para_pat, expand=True).head()

In [37]:
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[:2]

In [38]:
PARAS.head()

                                                            para_str
chap_num para_num
1        0         Sir Walter Elliot, of Kellynch Hall, in Somers...
         1                                 "ELLIOT OF KELLYNCH HALL.
         2         "Walter Elliot, born March 1, 1760, married, J...
         3         Precisely such had the paragraph originally st...
         4         Then followed the history and rise of the anci...

In [39]:
PARAS['para_str'] = PARAS['para_str'].str.replace(r'\n', ' ', regex=True)
PARAS['para_str'] = PARAS['para_str'].str.strip()
PARAS = PARAS[~PARAS['para_str'].str.match(r'^\s*$')] # Remove empty paragraphs

In [40]:
PARAS.head()

                                                            para_str
chap_num para_num
1        0         Sir Walter Elliot, of Kellynch Hall, in Somers...
         1                                 "ELLIOT OF KELLYNCH HALL.
         2         "Walter Elliot, born March 1, 1760, married, J...
         3         Precisely such had the paragraph originally st...
         4         Then followed the history and rise of the anci...

In [41]:
PARAS.to_csv(f"{output_dir}/pg105-PARAS.csv", index=True)

## Split paragraphs into sentences

In [42]:
# sent_pat = r'[.?!;:"]+'
sent_pat = r'[.?!;:]+'
SENTS = PARAS['para_str'].str.split(sent_pat, expand=True).stack()\
    .to_frame('sent_str')
SENTS.index.names = OHCO[:3]

In [43]:
SENTS = SENTS[~SENTS['sent_str'].str.match(r'^\s*$')] # Remove empty paragraphs
SENTS.sent_str = SENTS.sent_str.str.strip() # CRUCIAL TO REMOVE BLANK TOKENS

In [44]:
SENTS.head()

                                                                     sent_str
chap_num para_num sent_num
1        0        0         Sir Walter Elliot, of Kellynch Hall, in Somers...
                  1         there he found occupation for an idle hour, an...
                  2         there his faculties were roused into admiratio...
                  3         there any unwelcome sensations, arising from d...
                  4         and there, if every other leaf were powerless,...

In [45]:
SENTS.sample(10)

                                                                     sent_str
chap_num para_num sent_num
3        36       0         Nothing could be done without a reference to E...
6        17       4         without any approach to coarseness, however, o...
10       21       1         and she very soon heard Captain Wentworth and ...
19       7        5           Time had changed him, or Louisa had changed him
12       32       9                                    " he put out his hands
10       16       2         But this was one of the points on which the la...
2        4        2         She wanted it to be prescribed, and felt as a ...
20       31       4                               they were all present to me
22       38       2                                          They are parting
16       21       0         He looked, as he spoke, to the seat which Mrs ...

## Split sentences into tokens

In [46]:
token_pat = r"[\s',-]+"
TOKENS = SENTS['sent_str'].str.split(token_pat, expand=True).stack()\
    .to_frame('token_str')

In [47]:
TOKENS.index.names = OHCO[:4]

In [48]:
TOKENS

                                       token_str
chap_num para_num sent_num token_num
1        0        0        0                 Sir
                           1              Walter
                           2              Elliot
                           3                  of
                           4            Kellynch
...                                          ...
24       13       0        6                  of
                           7          Persuasion
                           8                  by
                           9                Jane
                           10             Austen

[85014 rows x 1 columns]

## Extract Vocabulary

In [49]:
TOKENS['term_str'] = TOKENS.token_str.replace(r'[\W_]+', '', regex=True).str.lower()
TOKENS.head()

                                     token_str  term_str
chap_num para_num sent_num token_num
1        0        0        0               Sir       sir
                           1            Walter    walter
                           2            Elliot    elliot
                           3                of        of
                           4          Kellynch  kellynch

In [50]:
VOCAB = TOKENS.term_str.value_counts().to_frame('n').reset_index().rename(columns={'index':'term_str'})
VOCAB.index.name = 'term_id'

In [51]:
VOCAB

            term_str     n
term_id
0                the  3330
1                 to  2808
2                and  2800
3                 of  2572
4                  a  1595
...              ...   ...
5755     acquisition     1
5756         spoiled     1
5757          render     1
5758        requited     1
5759           petty     1

[5760 rows x 2 columns]

In [52]:
VOCAB['p'] = VOCAB.n / VOCAB.n.sum()
VOCAB.head()

        term_str     n         p
term_id
0            the  3330  0.039170
1             to  2808  0.033030
2            and  2800  0.032936
3             of  2572  0.030254
4              a  1595  0.018762

## Gathering by Content Object

In [53]:
def gather(ohco_level):
    level_name = OHCO[ohco_level-1].split('_')[0]
    df = TOKENS.groupby(OHCO[:ohco_level])\
        .token_str.apply(lambda x: x.str.cat(sep=' '))\
        .to_frame(f"{level_name}_str")
    return df

In [54]:
gather(1)

                                                   chap_str
chap_num
1         Sir Walter Elliot of Kellynch Hall in Somerset...
2         Mr Shepherd a civil cautious lawyer who whatev...
3         "I must take leave to observe Sir Walter " sai...
4         He was not Mr Wentworth the former curate of M...
5         On the morning appointed for Admiral and Mrs C...
6         Anne had not wanted this visit to Uppercross t...
7         A very few days more and Captain Wentworth was...
8         From this time Captain Wentworth and Anne Elli...
9         Captain Wentworth was come to Kellynch as to a...
10        Other opportunities of making her observations...
11        The time now approached for Lady Russell s ret...
12        Anne and Henrietta finding themselves the earl...
13        The remainder of Anne s time at Uppercross com...
14        Though Charles and Mary had remained at Lyme m...
15        Sir Walter had taken a very good house in Camd...
16        There was one point which Anne on returning to...
17        While Sir Walter and Elizabeth were assiduousl...
18        It was the beginning of February and Anne havi...
19        While Admiral Croft was taking this walk with ...
20        Sir Walter his two daughters and Mrs Clay were...
21        Anne recollected with pleasure the next mornin...
22        Anne went home to think over all that she had ...
23        One day only had passed since Anne s conversat...
24        Who can be in doubt of what followed When any ...

In [55]:
gather(2)

                                                            para_str
chap_num para_num
1        0         Sir Walter Elliot of Kellynch Hall in Somerset...
         1                                  "ELLIOT OF KELLYNCH HALL
         2         "Walter Elliot born March 1 1760 married July ...
         3         Precisely such had the paragraph originally st...
         4         Then followed the history and rise of the anci...
...                                                              ...
24       9         Anne satisfied at a very early period of Lady ...
         10        Her recent good offices by Anne had been enoug...
         11        Mrs Smith s enjoyments were not spoiled by thi...
         12                                                    Finis
         13        End of the Project Gutenberg EBook of Persuasi...

[1008 rows x 1 columns]

In [56]:
gather(3)

                                                                     sent_str
chap_num para_num sent_num
1        0        0         Sir Walter Elliot of Kellynch Hall in Somerset...
                  1         there he found occupation for an idle hour and...
                  2         there his faculties were roused into admiratio...
                  3         there any unwelcome sensations arising from do...
                  4         and there if every other leaf were powerless h...
...                                                                       ...
24       11       4         Anne was tenderness itself and she had the ful...
                  5         His profession was all that could ever make he...
                  6         She gloried in being a sailor s wife but she m...
         12       0                                                     Finis
         13       0         End of the Project Gutenberg EBook of Persuasi...

[5612 rows x 1 columns]

## Save work to CSV

This is important -- will be used for homework.

In [57]:
TOKENS.to_csv(csv_file)